@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* .wrapper{
  height: 100%;
  width: 300px;
  position: relative;
}
.wrapper .menu-btn{
  position: absolute;
  left: 20px;
  top: 10px;
  background: #4a4a4a;
  color: #fff;
  height: 45px;
  width: 45px;
  z-index: 9999;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
#btn:checked ~ .menu-btn{
  left: 247px;
}
.wrapper .menu-btn i{
  position: absolute;
  font-size: 23px;
  transition: all 0.3s ease;
}
.wrapper .menu-btn i.fa-times{
  opacity: 0;
}
#btn:checked ~ .menu-btn i.fa-times{
  opacity: 1;
  transform: rotate(-180deg);
}
#btn:checked ~ .menu-btn i.fa-bars{
  opacity: 0;
  transform: rotate(180deg);
}

#btn:checked ~ #sidebar{
  left: 0;
} */

.HamburgerB {
    position: absolute;
    right: 0px;
    top: 4px;
    background: #4a4a4a;
    color: #fff;
    height: 45px;
    width: 45px;
    border: 1px solid #333;
    border-radius: 5px;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    font-size: 30px
  }

.CloseB {
    position: absolute;
    right: 0px;
    top: 4px;
    background: #4a4a4a;
    color: #fff;
    height: 45px;
    width: 45px;
    border: 1px solid #333;
    border-radius: 5px;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    font-size: 30px;
  }


/* MAIN HAMBURGER SETTING  */

.main-menu {
    background-color: transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* box-shadow: 0px 0px 20px #d4d4d4; */

    width: 100%;
    height: 125vh;
    overflow: hidden;
    overflow-x: scroll;

    top:0;
    left:0;
    
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    
    transition: .3s ease;
}

.main-menu:hover{
    width : 100%;
    overflow-y: scroll;
}

.main-menu .menu-item{
    padding: 10px;
}
.main-menu .menu-item:hover{
    background-color: #d6d6d6;
    cursor: pointer;
}

.main-menu .menu-item .fa{
    /* color: transparent; */
    width:40px;
    font-size: 25px;
    padding: 10px;
}

.main-menu .menu-item:hover > .fa{
    color: #1d0daa;
}

section.home{
    background-color: #f3f3f3;
}

.fa, a{
    color: white;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent !important;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #bbbbbb;
    border-radius: 10px;
  }