* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Write Post PROFILE*/

.write-post-section {
    padding-left: 30px;
    padding-right: 30px;
}

.head {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.control-post-buttons {
    width: 80px;
    margin-left: auto;
    height: 50px;
    padding-top: 10px;
    display: inline-flex;
}

.control-post-buttons button {
    height: 100%;
    width: 40px;
    margin-right: 5px;

}

.middle {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-input input {
    width: 100%;
    height: 50px;
    border: none;
}

.bottom {
    width: 100%;
    display: flex;
    height: 40px
}

.white-btn {
    background: white
}

.post-btn {
    width: 35%;
    display: flex;
    background: white;
}


.vertical-line {
    border-left: 1px solid lightgray;
    height: 60%;
    margin-top: 4px;
    margin-bottom: 4px;
}

.profile-image-small {
    width: 50px;
    height: 50px;
}

.profile-image-small img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.post-input {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    color: gray;
}

/*End Of Write Post*/




/*shared post*/

div.post-area {
    margin-top: 10px;
       padding-left: 0px;
    padding-right: 0px;
}

div.head{    
    padding-left: 10px;
    padding-right: 10px;
}
div.post-text{
     padding-left: 10px;
    padding-right: 10px;
    
}

div.post-text p{
      font-family: 'Open Sans', sans-serif;
    font-size: 18px;
   
}

.name-posting-date {
    width: 100%;
    margin-left: 7px;
    margin-right: 15px;
}



.likesandcomments {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.post-bottom{
    padding-left: 10px;
    padding-right: 10px;
}
.like-comment-btns {
    display: flex;
    align-items: center;
    margin-top: 8px;
    position: relative;

}

.like-comment-btns button {
    flex: 1;

}

.reactions {
    bottom: 10px;
    display: none;
    position: absolute;
    background-color: white;
    list-style-type: none;
    background-color: white;
    box-shadow: 5px 10px 8px rgba(53, 53, 53, 0.65);
    border-radius: 40px;
    padding: 0px 4px 0px;
    margin-left: 170px;
    top: 0;
    background-color: red;

}

.reactions li {
    display: block;
}


.reactions li a img:hover {

    transform: translateY(-6px);
    transform: scale(2);

}
.reactions li a :hover {
margin: 0;

}


.reactions li a {
width: 55px;
}

.reactions li a {
    animation: popup 300ms;
}

.like-btn:hover + div {
    display: flex;
}

.reactions:hover {
    display: flex;

}

.post-image {
    height: 100px;
    width: 100%;
    overflow: hidden;
}
.image-of-post{
    width: 100%;
    height: 100%;
}
.post-link {
    background-color: gainsboro;
    height: 80px;
    padding: 10px;
    padding-left: 10px;
}

/*end of shared post*/

button {
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 7px;
    height: 35px;
    display: flex;
    align-items: center;
}

button img {
    margin-right: 5px;
}

button.blue-btn {
    color: rgba(206, 168, 168, 0.823);
    background-color: #1877f2;
}

button.lightblue-btn {
    color: blue;
    background-color: aliceblue;
}

button.gray-btn {
    color: black;
}

hr.hor {
    margin-top: 10px;
    height: 1px;
}

.components-group {
    border-bottom: 10px solid rgb(211, 192, 192);
    padding-left: 30px;
    padding-right: 30px;
}

button:active {
    border: none;
}

a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
}

a.bold-text {
    font-weight: bold;
    font-size: 18px;
}

a.blue-text {
    color: blue;
    font-size: 18px;
}

a.thin-text {
    font-weight: lighter;
    color: #919191;
    font-size: 13px;
}

a img {
    margin-right: 5px;
}

.top-border {
    border-top: 1px solid transparent;
}

.right {
    margin-right: auto;
}

.full-width-btn {
    width: 100%;
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
}

/*Top blue header style*/
header {
    top: 0;
    width: 100%;
    display: grid;
    grid-template-rows: 44px;
    grid-template-columns: 95% 5%;
    background-color: #0e1421;
    margin-bottom: 20px;
    font-style: italic;
}

.blue-header-banner-content {
    margin: auto;
    color: rgb(211, 192, 192);
    font-size: 20px;
}

.Rank-PageIcon {
    color: white;
    position: relative;
    top: 25%;
}

/*End of top blue header style*/


/* Cover Page*/

.coverpage-section {
    height: 240px;
}

/* Cover Image */
.cover-image-section {
    width: 100%;
    height: 170px;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cover-image-section img {
    width: 100%;
    height: 100%;
    padding: 0;
}

.camera-section {
    background-color: rgb(211, 192, 192);
    width: 30px;
    text-align: center;
    border-radius: 50px;
    transform: translateY(-120%);
    margin-left: 10px;
}

/*End Of Cover Image */

/* Profile Image */
.profile-image-section {
    transform: translateY(-50%);
    width: 150px;
    height: 150px;
    margin: auto;
}

.profile-image-section > img {
    box-shadow: 2px 11px 6px 1px rgba(0, 0, 0, .125);
    border-color: rgb(211, 192, 192);
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* End Of Profile Image */
/*End Of Cover Page*/

/*Profile name bio*/
.profile-name-bio {
    text-align: center;
    padding: 60px;
}

/*End Of Profile name bio*/

/* Edit profile buttons*/
.edit-profile-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 35px;
}

.add-to-story {
    width: 100%;
    margin-right: 10px;
}
#addstory {
    color: white;
}
#story-plus{
    color: white;
}
/* End of Edit profile buttons*/

/*About Section*/
.about-section div {
    margin-top: 10px;
}

/*End of About Section*/

/*Friends*/
.friends-section {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.image {
    margin: 4px;
    width: 30%;
    display: inline-block;
}
.image img{
    width: 100%;
    height: 100%;
}
/*End Of Friends*/

.more-section {
    display: flex;
}

.more-section button {
    flex: 1;
    margin: 10px;
    border-radius: 70px;
}


.fa-plus{
    right: 3%;
    position: relative;
}

#FriendsP {
    height: 150px;
}
#FriendsP a {
    color: white;
}
.about-section .about-link .button-link-black img{
    color: rgb(211, 192, 192);
}