* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  background: #242C39;
  color: #fff;
}

.live {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  padding: 30px 0 0 20px;
  margin-bottom: 20px;
}

.live .person {
  position: relative;
  margin-right: 30px;
  text-align: center;
}

.live .profile-pic {
  position: relative;
  background-position: 50%;
  background-size: cover;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.live .person:nth-child(1) .profile-pic {background-image: url('assets/images/Esther.jpg');}
.live .person:nth-child(2) .profile-pic {background-image: url('assets/images/bolu.jpg');}
.live .person:nth-child(3) .profile-pic {background-image: url('assets/images/bestzworld\ logo.png');}
.live .person:nth-child(4) .profile-pic {background-image: url('assets/images/profile.jpg');}
.live .person:nth-child(5) .profile-pic {background-image: url('assets/images/jeffery.jpg');}
.live .person:nth-child(6) .profile-pic {background-image: url('assets/images/daniel\ nonso.jpg');}
.live .person:nth-child(7) .profile-pic {background-image: url('assets/images/psalmmy.jpg');}
.live .person:nth-child(8) .profile-pic {background-image: url('assets/images/mich\ donn.jpg');}


.live .profile-pic::before {
  content: '';
  display: inline-block;
  border: 3px solid #454D5A;
  padding: 24px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.live .person .name {
  font-size: 12px;
  padding-top: 20px;
}

.live-active .profile-pic:before {
  border-color: #FFDF3B !important;
}

.live-active span {
  background: #FFDF3B;
  color: #000;
  width: 50px;
  display: inline-block;
  font-size: 10px;
  border-radius: 50px;
  padding: 2px 0;
  font-weight: 600;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.live-active i {
  padding-right: 3px;
}

.newsfeed {
  padding: 0 20px;
}

.card {
  width: 100%;
  height: 100%;
  background: #242C39;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, .5);
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 14px;
}

.newsfeed .card .picture #ProfPics {
  cursor: pointer;
}

.card .content {
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
}

.card .header {
  display: flex;
  align-items: center;
}

.card .profile-pic {
  background-image: url('assets/images/profile.jpg');
  background-position: 50%;
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.card .detail {
  margin-left: 10px;
}

.card .posted {
  font-size: 10px;
  padding-top: 3px;
}

.card .desc {
  padding-top: 10px;
  line-height: 1.5;
}

.card .tags {
  font-size: 12px;
  color: #FFDF3B;
  padding-top: 10px;
}

.card .footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.card .footer .like {
  flex: 0 0 25%;
}

.card .footer .comment {
  flex: 1;
}

.card .footer .share {
  flex: 0 0 18%;
}

.card .footer i {
  padding-right: 3px;
}


/* SEOND CARD  */

.card2 {
  width: 100%;
  height: 100%;
  background: #242C39;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, .5);
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 14px;
}

.card2 .picture2 {
  background-image: url('assets/images/guitarbolu.jpg');
  background-position: 50%;
  background-size: cover;
  height: 200px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card2 .content2 {
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
}

.card2 .header2 {
  display: flex;
  align-items: center;
}

.card2 .profile-pic2 {
  background-image: url('assets/images/bolu.jpg');
  background-position: 50%;
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.card2 .detail2 {
  margin-left: 10px;
}

.card2 .posted2 {
  font-size: 10px;
  padding-top: 3px;
}

.card2 .desc2 {
  padding-top: 10px;
  line-height: 1.5;
}

.card2 .tags2 {
  font-size: 12px;
  color: #FFDF3B;
  padding-top: 10px;
}

.card2 .footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.card2 .footer .like {
  flex: 0 0 25%;
}

.card2 .footer .comment {
  flex: 1;
}

.card2 .footer .share {
  flex: 0 0 18%;
}

.card2 .footer i {
  padding-right: 3px;
}

/* CARD 3 */
.card3 {
  width: 100%;
  height: 100%;
  background: #242C39;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, .5);
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 14px;
}

.card3 .picture3 {
  background-image: url('assets/images/caleb\ uni.png');
  background-position: 50%;
  background-size: cover;
  height: 200px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card3 .content3 {
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
}

.card3 .header3 {
  display: flex;
  align-items: center;
}

.card3 .profile-pic3 {
  background-image: url('assets/images/Dem\ boss.jpg');
  background-position: 50%;
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.card3 .detail3 {
  margin-left: 10px;
}

.card3 .posted3 {
  font-size: 10px;
  padding-top: 3px;
}

.card3 .desc3 {
  padding-top: 10px;
  line-height: 1.5;
}

.card3 .tags3 {
  font-size: 12px;
  color: #FFDF3B;
  padding-top: 10px;
}

.card3 .footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.card3 .footer .like {
  flex: 0 0 25%;
}

.card3 .footer .comment {
  flex: 1;
}

.card3 .footer .share {
  flex: 0 0 18%;
}

.card3 .footer i {
  padding-right: 3px;
}




.nav {
  background: #242C39;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  box-shadow: 0 -4px 25px 0 rgba(0, 0, 0, .12);
}

.nav .icon {
  text-align: center;
  color: #8E919A;
}

.nav .icon i {
  padding-bottom: 10px;
  font-size: 20px;
}

.nav .icon p {
  font-size: 12px;
}

/* .active {
  color: #FFDF3B !important;
  text-decoration: none;
} */

::-webkit-scrollbar {
  display: none;
}

/* LOGIN PAGE STYLING  */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #242C39;
  margin: 0;
  /* overflow-x: hidden ; */
}
.container {
  height:auto;
  min-height: 75vh;
  width: 100%;
  padding: 1vw 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.leftlogin{
  height: 100%;
  width: 100%;
  max-width: 800px;
  transform: translate(0, -20%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}
.rightlogin {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}
.logobestzmedia {
  margin-left: 5%;
  padding-top: 10%;
  left: 20%;
  position: relative;
}
.para {
  font-family: SFProDisplay-Regular,  Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  width: auto;
  line-height: 28px;
  word-wrap: break-word;
  margin-left: 11%;
  margin-top: -25px;
  padding-top: 5%;
}
.my-form {
  width: 100%;
  max-width: 45ch;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  padding: 20px 20px;
  background-color: white;
}
.form-group input {
  width: 99%;
  height: 49px;
  border-radius: 6px;
  background: #ffff;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #dddfe2;
  color: #1d2129;
  vertical-align: middle;
  padding: 6px 16px;
  margin-bottom: 10px;
}
.form-group ::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.but1 {
  width: 100%;
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 19px;
  color: white;
  text-align: center;
  border: 1px solid;
  font-weight: bold;
}
.b2{
    text-align: center;
    padding-top: 20px;
}

/* a {
  text-decoration: none;
  color: #1877f2;
  font-size: 12px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
a:hover {
  text-decoration: underline;
} */

.forget{
  width: 100%;
  height: 18px;
  text-align: center;
  padding: 16px 0;
}
.hr{
    margin: 5px;
    opacity: 30%;
}


.hrr1{
    /* margin-bottom: 40px; */
    /* margin: 5px; */
    opacity: 30%;
    margin: 0 47px;
}

.but2 {
  background-color: #42b72a;
  color: white;
  border: 1px solid;
  border-radius: 6px;
  font-size: 17px;
  padding: 0 16px;
  line-height: 48px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}
.celeb {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: 30px;
  text-align: center;
}
.celeb .lk{
    color: black;
    font-weight: bold;
}
.main-footer {
  background-color: white;
  color: #737373;
  position: absolute;
  width: auto;
  height: auto;
  padding: 1rem 2rem;
  font-size: 12px;
}
.main-footer a {
  margin-bottom: 100%;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color:#8a8d91;;
}
.main-footer a:hover {
  text-decoration: underline;
}
.main-footer ul {
  list-style: none;
}
.main-footer li {
  display: inline;
}
.copyright {
  color: #8a8d91;
  font-size: 12px;
  margin-left: 3.7%;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 11px;
}
.niche li{
  padding-right: 20px;
  line-height: 1.7;  
}
.upar li{
  padding-right: 9px;
}

.loginA {
  text-decoration: none;
  color: #fff;
}
.logoutb {
  justify-content: space-between;
  margin-left: 10%;
  margin-top: 10%;
  text-decoration: none;
}

#mobile{
  display: none;
  position: absolute;
  background: rgb(101, 109, 112);
  height: 100vh;
  width: 200px;
  top: 0;
  right: 0px;
  text-align: left;
  z-index: 2;
  transition: 1s;
}

#mobile ul li{
  list-style: none;
  display: inline-block;
  padding:10px 12px;
  position: relative;
}


#mobile li{
  padding-top: 0px;
  margin-left: 40px;
  text-align: left;
  position: relative;
}
#mobile li a{
  font-size: 13px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
#times{
  display: block;
  padding: 5px;
  color: #fff;
  top: 0;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  transition: 1s ease-in-out;
}
.hamburger{
  top: 0;
  right: 0;
  cursor: pointer;
  position: absolute;
  padding: 30px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  display: block;
}

@media only screen and (min-width: 800px) {
  .container {
    flex-direction: row;
  }
  .leftlogin, .rightlogin {
    width: 50%;
  }
  .leftlogin{
    transform: translate(0, 0) !important;
  }
  .hamburger{
    display: none;
  }

}




@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Write Post*/
.write-post-section {
    padding-left: 30px;
    padding-right: 30px;
}

.head {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.control-post-buttons {
    width: 80px;
    margin-left: auto;
    height: 50px;
    padding-top: 10px;
    display: inline-flex;
}

.control-post-buttons button {
    height: 100%;
    width: 40px;
    margin-right: 5px;

}

.middle {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-input input {
    width: 100%;
    height: 50px;
    border: none;
}

.bottom {
    width: 100%;
    display: flex;
    height: 40px
}

.white-btn {
    background: white
}

.post-btn {
    width: 35%;
    display: flex;
    background: white;
}


.vertical-line {
    border-left: 1px solid lightgray;
    height: 60%;
    margin-top: 4px;
    margin-bottom: 4px;
}

.profile-image-small {
    width: 50px;
    height: 50px;
}

.profile-image-small img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.post-input {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    color: gray;
}

/*End Of Write Post*/




/*shared post*/
div.post-area {
    margin-top: 10px;
       padding-left: 0px;
    padding-right: 0px;
}

div.head{    
    padding-left: 10px;
    padding-right: 10px;
}
div.post-text{
     padding-left: 10px;
    padding-right: 10px;
    
}

div.post-text p{
      font-family: 'Open Sans', sans-serif;
    font-size: 18px;
   
}

.name-posting-date {
    width: 100%;
    margin-left: 7px;
    margin-right: 15px;
}



.likesandcomments {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.post-bottom{
    padding-left: 10px;
    padding-right: 10px;
}
.like-comment-btns {
    display: flex;
    align-items: center;
    margin-top: 8px;
    position: relative;

}

.like-comment-btns button {
    flex: 1;

}

.reactions {
    bottom: 10px;
    display: none;
    position: absolute;
    background-color: white;
    list-style-type: none;
    background-color: white;
    box-shadow: 5px 10px 8px rgba(53, 53, 53, 0.65);
    border-radius: 40px;
    padding: 0px 4px 0px;
    margin-left: 170px;
    top: 0;
    background-color: red;

}

.reactions li {
    display: block;
}


.reactions li a img:hover {

    transform: translateY(-6px);
    transform: scale(2);

}
.reactions li a :hover {
margin: 0;

}


.reactions li a {
width: 55px;
}

.reactions li a {
    animation: popup 300ms;
}

.like-btn:hover + div {
    display: flex;
}

.reactions:hover {
    display: flex;

}

.post-image {
    height: 100px;
    width: 100%;
    overflow: hidden;
}
.image-of-post{
    width: 100%;
    height: 100%;
}
.post-link {
    background-color: gainsboro;
    height: 80px;
    padding: 10px;
    padding-left: 10px;
}

/*end of shared post*/


/* STYLING FOR FOOTER  */

.fb-body-footer{
  width:100%;
  position:absolute;
  left:0px;
  height:80px;
  background:rgb(238, 73, 73);
  top: 700%;
}

#fb-body-footer-base{
  width:80%;
  margin: 0 auto;
  height: 60px;

}

.langList {
  padding-top: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.langList li {
  vertical-align: top;
  padding-right: 0;
  border-width: 0 0 0 1px;
  display: inline-block;
}
.langList li:first-child {
    padding-left: 0;
}

#contentCurve {
  border-bottom: 1px solid #dddfe2;
  font-size: 1px;
  height: 8px;
  margin-bottom: 8px;
}

.nav p {
  display: none;
}

